[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-htmx = "*"
python-environ = "*"
social-auth-app-django = "*"
uwsgi = "*"
pillow = "*"
django-storages = "*"
google-cloud-storage = "*"

[dev-packages]

[requires]
python_version = "3.12"
