body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6{
  color: #1aaf33;
}
.navbar-brand {
  color: #1aaf33;
}



.btn-primary {
  background-color: #1aaf33;
  border-color: #1aaf33
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:link
{
  background-color: #117e23;
  border-color: #117e23;
}
